:root {
    --primary-color: #F96841;
    --black-color: #303030;
    --white-color: #E6E6E6;
    --gray-ish: #D9D9D9;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* Base Styles */
body {
    font-family: Arial, sans-serif;
    color: var(--black-color);
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.altbody{
    font-family: Arial, sans-serif;
    color: var(--white-color);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; 
}

h1 {
    font-family: "SUSE", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}
h3 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}
p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Header */
.header {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    color: var(--black-color);
}

.header h1 {
    font-size: 24px;
    margin-left: 15px;
}

.centralizame{
    text-align: center;
}

.detalles{
    display: inline;
}

.central-pic{
    max-width: 100%;
    max-height: 100%;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--white-color);

    cursor: pointer;
    transition: all 0.3s ease;
}
.profile-pic:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.library-pic {
    width: 60px;
    height: 60px;
    border: 3px solid var(--white-color);
    position: absolute;
    right: 30px;

    cursor: pointer;
    transition: all 0.3s ease;
}
.library-pic:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

/* Main Content */
main {
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
}

.grayform{
    border-radius: 5%;
    background-color: var(--gray-ish);
    color: var(--black-color);
    width: 45%;
    height: 625px;
    padding: 5%;
    margin-left:10%;
    position: absolute;
    /*margin-left: 50px;*/
}

.grayinputs{
    width: 100%;
    padding: 7px;
    border: 15px;
    border-color: var(--black-color);
    border-radius: 2px;
}

.enlaceoscuro{
    color:var(--black-color);
}


/* Current Reading Section */
.current-reading {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    border-style: solid;
    border-color: var(--black-color);

    cursor: pointer;
    transition: all 0.3s ease;
}

.current-reading:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.book-card {
    display: flex;
    gap: 20px;
}

.book-cover {
    width: 134px;
    height: 214px;
    border-radius: 5px;
}

.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0;
}

.progress {
    height: 100%;
    background-color: var(--primary-color);
    color: #FFF;
    text-align: center;
    line-height: 10px;
    font-size: 12px;
}

/* Categories Section */
.categories {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    border-style: solid;
    border-color: var(--black-color);

    /*cursor: pointer;
    transition: all 0.3s ease;*/
}

/*.categories:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}*/

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.category {
    padding: 8px 15px;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 5px;
    font-size: 14px;

    border-style: solid;
    border-color: var(--black-color);
}

.active, .category:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #F96841;
    color: white;
    transform: scale(1.2);
    transition: transform 0.2s;
  }

/* Trending Books Section */
.trending-books {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    border-style: solid;
    border-color: var(--black-color);

    cursor: pointer;
    transition: all 0.3s ease;
}
.trending-books:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.book-listGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.book {
    width: 120px;
    margin: auto;
    padding: auto;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
}

.book img {
    width: 100%;
    border-radius: 5px;
}

.book-title {
    margin-top: 8px;
}

.book-author {
    font-size: 14px;
    color: var(--black-color);
}

/*--- slidebar ---*/

#specificbutton{
    text-align: center;
}

.orange-button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-button {
    padding: 10px 20px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.orange-button:hover{
    background-color: var(--white-color);
    color: var(--primary-color);
}

.toggle-button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -100%; /* Hidden off-screen by default */
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.4s ease; /* Slide-in animation */
    overflow-y: auto; /* Enables vertical scrolling */
}

/* Adjust content list to fit within the sidebar */
.content-list {
    padding: 45px;
    flex: 1;
    max-height: calc(100vh - 90px); /* Adjust height to fit within the sidebar with some padding */
    overflow-y: auto; /* Enables scroll within content */
}

/* Optional: Customize scrollbar appearance */
.sidebar::-webkit-scrollbar,
.content-list::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb,
.content-list::-webkit-scrollbar-thumb {
    background-color: var(--black-color);
    border-radius: 4px;
}

.sidebar.show {
    right: 0; /* Posición cuando está visible */
}

.sidebar h2 {
    margin-top: 0;
}

.book-list li {
    padding: 10px 0;
    border-bottom: 1px solid var(--white-color);
}

.back-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--white-color);
    position: absolute;
    top: 20px;
    left: -30px;

    cursor: pointer;
    transition: all 0.3s ease;
}
.back-pic:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.side-pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--white-color);
    position:absolute;
    top: 20px;
    left: 0px;
}

.side-pic:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
}

.add-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--white-color);
    position: absolute;
    top: 20px;
    right: 30px;

    cursor: pointer;
    transition: all 0.3s ease;
}
.add-pic:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.list-section {
    background-color: var(--white-color);
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.content-list {
    padding: 45px;
    flex: 1;
}

.content-list h1 {
    font-size: 30px;
    color: var(--black-color);
    margin-bottom: 20px;
}

.content-list h2 {
    font-size: 20px;
    color: var(--black-color);
    margin-bottom: 20px;
}

.book-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-item {
    padding: 15px;
    border-style: solid hidden hidden hidden;
    border-width: 2px;
}

.tags {
    display: flex;
    gap: 10px;
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.book-details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.book-details img {
    width: 80px;
    height: 120px;
    border-radius: 5px;
}

.info h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.info p {
    font-size: 14px;
    color: #666;
}

.space-flex {
    margin-left: auto;
    font-size: 24px;
    color: #888;
    cursor: pointer;
}

/* Book List Styling */
#bookList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

#bookList li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff; /* White background for book items */
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: transform 0.2s; /* Hover effect for book items */
}

#bookList li:hover {
    transform: scale(1.02); /* Slight scale on hover */
}

#bookList li div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bookList li input[type="text"],
#bookList li textarea {
    width: 70%;
    padding: 10px; /* Increased padding for better input experience */
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Lighter border for inputs */
    border-radius: 4px; /* Slightly rounded corners */
    transition: border 0.3s; /* Smooth border transition */
}

#bookList li input[type="text"]:focus,
#bookList li textarea:focus {
    border-color: #3a3f44; /* Highlight border on focus */
}

#bookList li img {
    max-width: 100px;
    margin-right: 10px;
}

#bookList li button {
    padding: 10px 15px; /* Increased padding for buttons */
    margin-left: 10px;
    cursor: pointer;
    background-color: #b93939; /* Primary button color */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s; /* Smooth background color transition */
}

#bookList li button:hover {
    background-color: #b93939; /* Darker shade on hover */
}

/* Add Book Container */
#addBookContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#addBookContainer input,
#addBookContainer textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#addBookButton {
    padding: 10px 15px; /* Increased padding for buttons */
    cursor: pointer;
    background-color: #e5ebea; /* Success color */
    color: #1c1c1c;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* Smooth background color transition */
}

#addBookButton:hover {
    background-color: #f96841; /* Darker green on hover */
}

/* carta de add */
.addcard {
    position: fixed;
    bottom: -100%; /* Oculto fuera de la pantalla */
    width: 80%;
    height: 90%;
    background-color: var(--white-color);
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: bottom 0.6s ease; /* Animación de deslizamiento */

    border-style: solid;
    border-radius: 2%;

    max-width: 400px;
    text-align: center;
}

.addcard.show {
    bottom: 5%; /* Posición cuando está visible */
    z-index: 1;
}

.overlay {
    position: fixed;
    width: 0%;
    height: 0%;
    background-color: #00000070;
}

.overlay.show {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000070;
}
.category-books{
    padding: 10px;
}
.bookCards{
    display: flex;
	flex-wrap: wrap;
}
.bookCard_info{
    align-content: center;
    flex: 1 0 50%;
}
.cat-pic{
    align-content: center;
    height: 250px;
    border-radius: 10px;
}
.separation{
    background-color: #1c1c1c;
    width: 90%;
    height: 3px;
    margin: .5% auto;
    position: relative;
}
.bookTitle{
    font-weight: 800;
}
.bookPages{
    font-weight: 300;
    color: #888;
}

/* Estructura general del Add */

/* Sección de carga de imágenes */
.image-upload p {
    font-size: 14px;
    color: var(--gray-color);
    margin-bottom: 10px;
}

.upload-box {
    width: 100%;
    height: 120px;
    background-color: var(--white-color);
    border: 2px dashed var(--black-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--gray-color);
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-box:hover {
    background-color: #eaeaea;
}

.upload-box span {
    font-size: 36px;
    font-weight: bold;
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.form-group {
    display: flex;
    gap: 10px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--black-color);
    border-radius: 8px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: var(--primary-color);
}

textarea {
    resize: none;
    height: 80px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: var(--white-color);
    color: var(--black-color);
    border: solid;
    border-color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}