<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Categorías</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE&display=swap" rel="stylesheet">
    </head>
<body>
    <main>
        <a href="../index.html">
            <img class="side-pic" src="../src/icons/back-icon.png" onclick="toggleSidebar()"/>
        </a>
        <a href="../views/perfil.html" >
            <img src="../src/icons/user-icon.png" alt="" class="library-pic">
        </a>

        <!--<section class="categories2">
            <h1>Libros de Horror</h1>
            <div class="category-list">
                <div class="category2"><p>#Misterio</p></div>
                <div class="category2"><p>#Ciencia Ficción</p></div>
                <div class="category2"><p>#Terror</p></div>
            </div>
        </section>-->
        <h1>Categoría X</h1>

        <section class="category-books"> <!--Libro 1-->
            <div class="tags">
                <p>#Horror</p>
                <p>#Novela</p>
                <p>#Ciencia Ficción</p>
            </div>
            <div class="bookCards">
                <div class="bookCard_info">
                    <p class="bookTitle" id="tituloCat">Título del Libro</p>
                    <p class="bookAutor" id="autorCat">Autor</p>
                    <p class="bookPages" id="pagsCat">Páginas</p>
                </div>
                <img src="https://m.media-amazon.com/images/I/81pzG7oNfHL._SL1500_.jpg" alt="" class="cat-pic">
            </div>
            <div class="separation"></div>
        </section>
        <section class="category-books"> <!--Libro 2-->
            <div class="tags">
                <p>#Épico</p>
                <p>#Misterio</p>
                <p>#Ciencia Ficción</p>
            </div>
            <div class="bookCards">
                <div class="bookCard_info">
                    <p class="bookTitle" id="tituloCat">Título del Libro</p>
                    <p class="bookAutor" id="autorCat">Autor</p>
                    <p class="bookPages" id="pagsCat">Páginas</p>
                </div>
                <img src="https://marketplace.canva.com/EAFI171fL0M/1/0/1003w/canva-portada-de-libro-de-novela-ilustrado-color-azul-aqua-PQeWaiiK0aA.jpg" alt="" class="cat-pic">
            </div>
            <div class="separation"></div>
        </section>
    </main>
</body>
</html>