<!DOCTYPE html> 
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=SUSE&display=swap" rel="stylesheet">
    </head>
    <body class="altbody">
        <main>
            <div class="centralizame">
                <img class="central-pic" src="../PIWRepoTemporal/src/icons/librery-logo_Alt.png" alt="">
                <p>¡Bienvenido!</p>
                <br><br>
            </div>
            <div class="grayform">
                <form action="">
                    <label for="name">Nombre:</label>
                    <br><br>
                    <input class="grayinputs" type="text" name="name">
                    <br><br>
                    <label for="mail">Email:</label>
                    <br><br>
                    <input class="grayinputs" type="mail" name="mail">
                    <br><br>
                    <label for="dob">Fecha de nacimiento</label>
                    <br><br>
                    <input class="grayinputs" type="date" name="dob">
                    <br><br>
                    <label for="password">Contraseña:</label>
                    <br><br>
                    <input class="grayinputs" type="password" name="password">
                    <br><br>
                    <label for="confpassword">Contraseña:</label>
                    <br><br>
                    <input class="grayinputs" type="password" name="confpassword">
                    <br><br>
                </form>
                <div class="centralizame">
                    <br><br>
                <button onclick="location.href = '../index.html';" id="specific-button" class="orange-button">
                    Registrame
                </button>
                </div>
                
            </div>
        </main>
    </body>
</html>